body{
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 50px;
  color: red;
  text-align: center;
}

.products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.product{
  border: 2px solid black;
  padding: 10px;
  box-shadow: 8px 8px 0px black;
}

button{
  padding: 10px 40px;
  transition: box-shadow .4s ease;
  box-shadow: 4px 4px 0px black;
}

button:hover{
  box-shadow: 8px 8px 0px black;
}

.badge{
  font-size: 10px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 5px;
}